/* General Styles */
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35px;
    text-align: center;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
}

.title {
    display: grid;
    grid-column: 1/5;
    padding: 1em;
    text-align: center;
}


/* Header section */
.header {
    background-color:  #4682B4;
    margin: 0 auto;
}

.header h1 {
    color: white;
    font-weight: bold;
    padding: 2.5em 0em 2.5em 1em;
    text-align: left;
}

/* Navigation Section */

.navbar {
    background-color: white;
}

.navbar ul {
    list-style: none;
    position: fixed;
    top: 200px;
    left: -30px;
    
}

.navbar ul li {
    padding: 0.5em 0em;
}

.navbar ul li a {
    text-decoration: none;
    color:  teal;
    font-weight: bold;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: purple;
} 

/* Main homepage section */

#main {
    text-align: center;
    padding: 3em;
    margin-top: 0;
}

#main .hi {
    color: #4682B4;
    color: teal;
    font-size: xx-large;
}

#main .name a {
    text-decoration: none;
}

#main .fullStack {
    color: #4C516D;
}

#main .inquireNow {
    color: purple;
}

/* View my work button */

#viewWorkButton {
    background-color: white;
    border: solid 1px gray;
    color: #7FFFD4;
    font-weight: bold;
    padding: 5px;
}

#viewWorkButton a {
    text-decoration: none;
    color:color: #7FFFD4;
}

#viewWorkButton a:hover {
    color: teal;
} 

/* Bio section */

#bio {
    background-color: purple;
/* will fix all info in different positions etc */
}

.bio {
    color: white;
    padding: 2em;
}

.bio a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.bio img {
    height: 150px;
    width: 250px;
    text-align: center;
}


/* About Me section */

.aboutMe {
    position: relative;
}

.headshot img {
    position:absolute;
    left:300px;
    top:60px;
    border-radius: 12px;
}

.aboutMe .age {
    position: absolute;
    left: 300px;
    top: 150px;
    color: orangered;
}

.aboutMe .job {
    position: absolute;
    left: 60px;
    top: 32px;
    color: blue;
}

.aboutMe .basedInZambia {
    position: absolute;
    left: 70px;
    top: 48px;
    color: red;
}

.aboutMe .current {
    position: absolute;
    left: 120px;
    top: 200px;
    color: yellow;
}

.aboutMe .hardWorking {
    position: absolute;
    right: 60px;
    bottom: 200px;
    color: green;
}

.aboutMe .efficient {
    position: absolute;
    right: 90px;
    bottom: 300px;
    color: white;
}
}

.aboutMe .diligent {
    position: absolute;
    right: 500px;
    bottom: 150px;
    color: rgb(78, 133, 102); 
}

.aboutMe .detailed {
    position: absolute;
    left: 500px;
    bottom: 150px;
    color: rgb(78, 133, 102); 
}

.aboutMe .lovesAnimals {
     
}

.aboutMe .lovesFood {

}

.aboutMe .lovesMusic {

}

.aboutMe .skillSet {

}

/* Skills section */

.tickImage {
    height: 50px;
    width: 50px;
}

#skills p {
    font-size: 20px;
    font-weight: bold;
}

.skills img {
    display: inline-block;
}

.skills p {
    display: inline;
}

/* Portfolio section */


#portfolio a {
    text-decoration: none;
    color:  teal;
    font-weight: bold;
    text-transform: uppercase;
}

#portfolio a:hover {
    color:purple;
    
}



.projects h3 {
    text-decoration: underline;

}

.project a {
    text-align: center;
}

.project1 {
    grid-column: 2/3;
    padding: 1em;
}

.project2 {
    grid-column: 3/4;
    padding: 1em;
}

.project3 {
    grid-column: 2/3;
    padding: 1em;
}

.project4 {
    grid-column: 3/4;
    padding: 1em;
}

.project5 {
    grid-column: 2/3;
    padding: 1em;
}

.project6 {
    grid-column: 3/4;
    padding: 1em;
}

/* Languages section */

.languages {
    padding:5em;
    
}

.languages img {
    width: 50px;
    height: 50px;
    padding: 1em;

}


/* Footer and contacts Section */
.footer {
    background-color: #4682B4;
    padding: 1em;
}

.footer p {
    color: white;
    text-align: center;
}

.footer p a {
    color:white;
}

/* ---> Responsive Section <---

<--- mobile -->

@media screen and (max-width:500px) {

}

<-- tablet -->

@media screen and (max-width:800px) {

}

*/